# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Uploads (do not push user files)
src/uploads/

# Coverage
coverage/

# Render build artifacts
dist/

# Temporary files
*.tmp